<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap" rel="stylesheet">
  <title>Email Template</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    .link{
        display: inline-block;
        color: #E51B23;
        margin-top:2rem;
        text-decoration: none;
    }
    table {
      font-family: 'Raleway', sans-serif;
    }
    .outer-table {
      max-width: 600px;
      margin: 0 auto;
      width: 600px;
      background-color: #F6F8FA;
      padding: 30px 40px;
    }
    .inner-table {
      background: #fff;
      width: 100%;
      margin-top: 30px;
      padding: 40px 40px;
    }
    .inner-table button {
      padding: 14px 40px;
      background-color: #E51B23;
      height: 44px;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.28px;
      color: #fff;
      border: 0;
      margin-top: 30px;
      border-radius: 4px;
    }
    .text-left {
      text-align: left;
    }
    .text-center {
      text-align: center;
    }
    .img-outer {
      height: 100px;
      width: 100px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    h1 {
      color: #1C2C40;
      font-weight: 600;
      font-size: 22px;
      margin-top: 25px;
    }
    p {
      color: #1C2C40;
      font-weight: 600;
      font-size: 16px;
      margin-top: 25px;
    }
    .para {
      font-weight: 500;
      font-size: 14px;
      color: #1C2C40;
      margin-top: 25px;
      line-height: 24px;
      letter-spacing: 0.28px;
    }
    .para a {
      font-weight: 700;
      padding: 0 10px;
      color: #333;
    }
    .para a.dots {
      position: relative;
    }
    .para a.dots:after {
      position: absolute;
      content: ".";
      top: -7px;
      right: 3px;
    }
    .para a.dots:before {
      position: absolute;
      content: ".";
      top: -7px;
      left: -1px;
    }
    .para.mt-15 {
      margin-top: 15px;
    }
    .social-icons a {
      display: inline-block;
      padding: 0 9px;
      width: 20px;
      margin-top: 40px;
    }
    .social-icons a img {
      width: 100%;
    }
    .extra th {
      padding: 15px;
      text-align: left;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      font-weight: 600;
      border: 0;
      border-collapse: collapse;
    }
    .extra tr.thead {
      background: #E51B23;
      color: #fff;
    }
    .extra td {
      padding: 20px 15px;
      text-align: left;
      font-size: 12px;
      font-weight: 500;
      border: 0;
      border-bottom: 1px solid #a6a6a6;
      border-collapse: collapse;
    }
    table.extra {
      width: 100%;
      border: 1px solid #a6a6a6;
      border-collapse: collapse;
    }
    .border-top-p {
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #a6a6a6;
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
  <table class="outer-table">
    <thead>
      <tr>
        <th class="text-left"><center><img src="https://app-transfer.com:3006/api/local/file?filename=1605079189838-logo.png&folder=orig" data-filename="logo.jpg" style="width: 100px;"></center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <!---------Inner table-->
          <table class="inner-table">
            <tbody>
              {{!-- <tr>
                <td class="text-center">
                  <a class="img-outer">
                    <img style="width: 100%;margin: 0 auto;" src="https://devpotswork.blob.core.windows.net/medium/email-color-logo.png">
                  </a>
                </td>
              </tr> --}}
              <tr>
                <td class="text-center">
                  <h1>{{subject}}</h1>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <p>Hi User,</p>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <p class="para">Congratulations! Someone has applied on one of your posts to be your tutor! Click on the button below to respond to their application :)</p>
                </td>
                <td class="text-left">
                  <p class="para">様の授業依頼に講師が応募しました。下のリンクからご確認してください。</p>
                </td>
                <td class="text-left">
                  <p class="para">Post Name: </p>
                </td>
                <td class="text-left">
                  <p class="para">Post ID: </p>
                </td>
                <td class="text-left">
                  <p class="para">Application by:</p>
                </td>
                <td class="text-left">
                  <p class="para">Dates that were applied for:</p>
                </td>
                <td class="text-left">
                  <p class="para">Total class fee:</p>
                </td>
                <td class="text-left">
                  <p class="para">Enjoy your classes with your new Tutor!</p>
                </td>
                <td class="text-left">
                  <p class="para">The Manamusu Team</p>
                </td>
                <p class="para">* Do you have any questions for us? If so, contact us through the website link attached below.</p>

                <td class="text-left">
                  <p class="para">タイトル: </p>
                </td>
                <td class="text-left">
                  <p class="para">生徒募集ID: </p>
                </td>
                <td class="text-left">
                  <p class="para">応募者:</p>
                </td>
                <td class="text-left">
                  <p class="para">日付:</p>
                </td>
                <td class="text-left">
                  <p class="para">授業料:</p>
                </td>
                <td class="text-left">
                  <p class="para">今後とも、マナムスをお楽しみください。</p>
                </td>
                <td class="text-left">
                  <p class="para">Teamマナムス</p>
                </td>
                <td class="text-left">
                  <p class="para">* 万が一、お心当たりない場合やご不明な点がございましたら、下記のManaMusuのお問合せまでご連絡ください。</p>
                </td>
              </tr>
            </tbody>
           
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>           