<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<style>
    
    .hover a:hover{
        text-decoration: underline !important;
    }
</style>

<body style="max-width: 680px;width: 100%;margin: auto;font-family: 'Open Sans', sans-serif;">

    <div class="main">
       
        <div class="bodyclass" style="background: #fff;">
            <div class="review" style="text-align: left;">
                <div class="japness">
                    <div class="if" style="margin: 20px 0 20px">
                        <p style="margin-top: 15px; margin-bottom: 15px; line-height: 26px;">{{username}} 様、</p>
                        <p style="margin-top: 0px; margin-bottom: 0px;">パスワードの変更のため、以下の確認コードをマナムスのウェブサイトに入力してください。 </p>
                    </div>

                    
                    <a href="" style="color: #222;">{{otp}}</a>
                    <div class="if" style="margin: 20px 0 0">
                        <p style="margin-top: 15px; margin-bottom: 0px;">いつもご利用いただき、ありがとうございます。今後とも、マナムスをお楽しみください。 </p>
                        <p style="margin-top: 0px; margin-bottom: 15px; line-height: 26px;">Teamマナムス</p>
                        <p style="margin-top: 15px; margin-bottom: 15px; line-height: 26px;">* 万が一、お心当たりない場合やご不明な点がございましたら、下記のManaMusuのお問合せまでご連絡ください。 </p>
                    </div>
                </div>

                <div class="English" style="margin-bottom: 30px; margin-top: 0px; padding-top: 0px; border-top: 1px solid #ccc;">
                    <div class="if" style="margin: 20px 0 20px">
                        <p style="margin-top: 15px; margin-bottom: 15px; line-height: 26px;">Hi {{username}}, </p>
                        <p style="margin-top: 0px; margin-bottom: 0px;">We received your request to reset your password for the account associated with {{email}}. Please enter the one-time password below into the password reset page on Manamusu to proceed.  </p>
                       
                    </div>
                  
                    <a href="" style="color: #222;">{{otp}}</a>
               
                </div>

                <div class="discription" style="margin-top: 0px; margin-bottom: 30px;">
                    <p style="margin: 0; margin-bottom: 0px;">Thank you, and we hope you continue having a pleasant experience on Manamusu! </p>
                    <p style="margin: 0; margin-bottom: 0px;"> The Manamusu Team </p>
                    <p style="margin-top: 15px; margin-bottom: 5px;"> * Do you have any questions for us? If so, contact us through the website link attached below. </p>
                    
                    <p style="margin: 0; margin-bottom: 5px; margin-top: 20px; padding-top: 20px; border-top: 1px solid #ccc;"> * 本メールは送信専用のため、こちらのメールアドレスへの返信はご遠慮ください。</p>
                    <p style="margin: 0; margin-bottom: 5px;">* Please do not reply to this email</p>
                    <div class="logo" style="padding: 15px 0;">
                        <img src="https://manamusu.s3.ap-northeast-3.amazonaws.com/Uploads/Images/medium/1637736453392-logo.png">
                    </div>
                    <p style="margin: 0;">学びを結ぶ & Learning Intertwined </p>
                    <p style="margin: 0;">お問合せ (Contact us)：<a href="{{getUrl}}/jp/contact"> https://manamusu.com/jp/contact</a></p>
                    <p style="margin: 0;">マナムス (ManaMusu)： <a href="{{getUrl}}/jp"> www.manamusu.com</a></p>
                </div>

            </div>
        </div>
    </div>    

</body>

</html>